# preparing the data for the PW classification training

# Template file

In [14]:
# read the csv and print the head
import pandas as pd

df_temp = pd.read_csv('/home/mo/CameraTraps_mn/PW_FT_classification/data/imgs/annotation_example.csv')
print(df_temp.head())
print(df_temp.columns)

             path  classification         label           Photo_Time  \
0  10050028_0.JPG               0      Anteater  2024-01-27 21:30:11
1  10050028_1.JPG               0      Anteater  2024-01-27 21:30:13
2  10050028_2.JPG               0      Anteater  2024-01-27 21:30:15
3  10050028_3.JPG               1  Non-Anteater  2024-01-27 22:10:11
4  10050028_4.JPG               1  Non-Anteater  2024-01-27 22:10:11

          Location
0  Amazon_Guaviare
1  Amazon_Guaviare
2  Amazon_Guaviare
3   Amazon_Caqueta
4   Amazon_Caqueta
Index(['path', 'classification', 'label', 'Photo_Time', 'Location'], dtype='object')

# My files
  train: '/media/mo/nvme0n1/MD_up_TT/TT csv files/train_bb_20250204_094704.csv'
  val: '/media/mo/nvme0n1/MD_up_TT/TT csv files/val_bb_20250204_094704.csv'
  test: '/media/mo/nvme0n1/MD_up_TT/TT csv files/test_bb_20250204_094704.csv'

In [52]:
# # Paths to your CSV files
# csv_paths = [
#     "/media/mo/nvme0n1/MD_up_TT/TT csv files/train_bb_20250204_094704.csv",
#     "/media/mo/nvme0n1/MD_up_TT/TT csv files/val_bb_20250204_094704.csv",
#     "/media/mo/nvme0n1/MD_up_TT/TT csv files/test_bb_20250204_094704.csv"
# ]
# # 1. Read & combine all CSVs
# dfs = [pd.read_csv(path) for path in csv_paths]
# df = pd.concat(dfs, ignore_index=True)

Le'ts first do the full combined_csv_2025-01-22_13-59-50, without train, val, test split csv files. The CameraTraps data config

In [53]:
import pandas as pd
import numpy as np
import os

# Path to CSV file conatining all the label data
csv_path = "/media/mo/nvme0n1/MD_up_TT/TT csv files/combined_csv_2025-01-22_13-59-50.csv"

#working dir set to where the csv files are
working_dir = "/media/mo/nvme0n1/MD_up_TT/TT csv files/"

# Read the CSV file
df_comb = pd.read_csv(csv_path, low_memory=False)
df_comb.describe()

,image_antelope_count,image_oryx_count,image_wildebeest_count,image_eland_count,image_hartebeest_count,image_kudu_count,image_waterbuck_count,image_impala_count,image_blesbok_count,image_sable_count,...,sighting,left,right,top,bottom,score,cluster,cluster_image_count,camera_animal_count,camera_image_count
count,1195442.0,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1195442.0,1195442.0,1.195442e+06,1195442.0,...,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.195442e+06,1.010924e+06,1.010924e+06
mean,0.0,6.955670e-02,5.873643e-02,3.276110e-02,2.763580e-02,8.079020e-03,0.0,0.0,3.591140e-03,0.0,...,3.428401e+08,4.048329e-01,5.654522e-01,3.354606e-01,5.967626e-01,5.511405e-01,8.930322e+07,2.089850e+01,6.128653e+03,3.282347e+04
std,0.0,4.783832e-01,6.189807e-01,3.637561e-01,3.681575e-01,1.546150e-01,0.0,0.0,1.540720e-01,0.0,...,8.034641e+05,2.964652e-01,3.113365e-01,1.944484e-01,2.250587e-01,3.523372e-01,9.548875e+04,1.615707e+01,7.247960e+03,3.812264e+04
min,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,3.416094e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.907787e+07,1.000000e+00,2.930000e+02,2.640000e+02
25%,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,3.420058e+08,1.463000e-01,2.651000e-01,2.009000e-01,4.795700e-01,1.890000e-01,8.929906e+07,6.000000e+00,6.700000e+02,4.772000e+03
50%,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,3.431539e+08,3.822000e-01,5.979000e-01,4.046000e-01,5.332500e-01,5.700000e-01,8.933909e+07,1.500000e+01,2.990000e+03,9.706000e+03
75%,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,3.435597e+08,6.661000e-01,8.213100e-01,4.787000e-01,7.563000e-01,9.270000e-01,8.936383e+07,3.300000e+01,9.143000e+03,9.235300e+04
max,0.0,1.100000e+01,1.800000e+01,1.100000e+01,2.200000e+01,1.100000e+01,0.0,0.0,1.300000e+01,0.0,...,3.439095e+08,9.953000e-01,1.000000e+00,9.361000e-01,1.000000e+00,9.940000e-01,8.938420e+07,5.000000e+01,3.146800e+04,9.235300e+04

In [54]:
# Paths to your CSV files
csv_paths = [
    "/media/mo/nvme0n1/MD_up_TT/TT csv files/train_bb_20250204_094704.csv",
    "/media/mo/nvme0n1/MD_up_TT/TT csv files/val_bb_20250204_094704.csv",
    "/media/mo/nvme0n1/MD_up_TT/TT csv files/test_bb_20250204_094704.csv"
]
# 1. Read & combine all CSVs
dfs = [pd.read_csv(path, low_memory=False) for path in csv_paths]
# train, val and test concatenated
df_tvt = pd.concat(dfs, ignore_index=True)
df_tvt.shape

(675718, 87)

In [55]:
df_tvt.describe()

,image_label_2,image_label_3,image_antelope_count,image_oryx_count,image_wildebeest_count,image_eland_count,image_hartebeest_count,image_kudu_count,image_waterbuck_count,image_impala_count,...,sighting,left,right,top,bottom,score,cluster,cluster_image_count,camera_animal_count,camera_image_count
count,0.0,0.0,675718.0,675718.000000,675718.000000,675718.000000,675718.000000,675718.000000,675718.0,675718.0,...,6.757180e+05,675718.000000,675718.000000,675718.000000,675718.000000,675718.000000,6.757180e+05,675718.000000,531703.000000,531703.000000
mean,NaN,NaN,0.0,0.113645,0.096730,0.045879,0.044009,0.013001,0.0,0.0,...,3.426185e+08,0.396476,0.617164,0.311631,0.675936,0.774781,8.927691e+07,22.886047,9959.185248,6475.685770
std,NaN,NaN,0.0,0.607109,0.800598,0.400857,0.460555,0.195941,0.0,0.0,...,8.480690e+05,0.307197,0.306641,0.207067,0.210586,0.264224,1.005509e+05,16.497387,7608.518840,5203.855777
min,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,3.416094e+08,0.000000,0.004687,0.000000,0.015736,0.100000,8.907787e+07,1.000000,293.000000,264.000000
25%,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,3.418300e+08,0.088540,0.367640,0.138800,0.521280,0.688000,8.929131e+07,9.000000,4494.000000,3619.000000
50%,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,3.421471e+08,0.391600,0.620230,0.339800,0.662000,0.906000,8.931253e+07,19.000000,6616.000000,5474.000000
75%,NaN,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,3.436128e+08,0.645800,0.943700,0.470300,0.887000,0.961000,8.934214e+07,37.000000,14922.000000,8596.000000
max,NaN,NaN,0.0,11.000000,18.000000,10.000000,22.000000,11.000000,0.0,0.0,...,3.439094e+08,0.995300,1.000000,0.936100,1.000000,0.994000,8.938420e+07,50.000000,31468.000000,92353.000000

In [56]:
df_tvt.columns

Index(['image', 'image_label_1', 'image_label_2', 'image_label_3',
       'image_antelope_count', 'image_oryx_count', 'image_wildebeest_count',
       'image_eland_count', 'image_hartebeest_count', 'image_kudu_count',
       'image_waterbuck_count', 'image_impala_count', 'image_blesbok_count',
       'image_sable_count', 'image_roan_count', 'image_lechwe_count',
       'image_rodent-like_count', 'image_springhare_count',
       'image_rodent_count', 'image_cape_ground_squirrel_count',
       'image_rock_hyrax_count', 'image_canine_count',
       'image_bat-eared_fox_count', 'image_cape_fox_count',
       'image_black-backed_jackal_count', 'image_small_cat-like_count',
       'image_yellow_mongoose_count', 'image_meerkat_count',
       'image_striped_polecat_count', 'image_wildcat_count',
       'image_genet_count', 'image_honey_badger_count', 'image_caracal_count',
       'image_black_footed_cat_count', 'image_slender_mongoose_count',
       'image_hyena_count', 'image_aardwolf_count', 'image_brown_hyena_count',
       'image_spotted_hyena_count', 'image_other_count',
       'image_aardvark_count', 'image_warthog_count', 'image_zebra_count',
       'image_giraffe_count', 'image_cape_ground_pangolin_count',
       'image_cheetah_count', 'image_leopard_count', 'image_baboon_count',
       'image_reptile_count', 'image_insect_count', 'image_bat_count',
       'image_camel_count', 'image_birds_count', 'image_bird_count',
       'image_ostrich_count', 'image_red-crested_korhaan_count',
       'image_northern_black_korhaan_count', 'image_cape_turtle_dove_count',
       'image_crowned_lapwing_count', 'image_crimson-breasted_shrike_count',
       'image_spotted_thick_knee_count', 'image_kori_bustard_count',
       'image_southern_yellow-billed_hornbill_count', 'image_springbok_count',
       'image_steenbok_count', 'image_duiker_count', 'image_porcupine_count',
       'image_hare_count', 'image_cattle_count', 'image_sheep_count',
       'image_horse_count', 'image_vehicles/humans/livestock_count',
       'image_unknown_count', 'timestamp', 'sighting', 'left', 'right', 'top',
       'bottom', 'score', 'cluster', 'cluster_image_count', 'image_url',
       'camera_animal_count', 'camera_image_count', 'camera', 'site'],
      dtype='object')

In [57]:
import re
df_tvt_like_temp = df_tvt.copy()

# add these columns to the df_tvt: path', 'classification', 'label', 'Photo_Time', 'Location'

# create a 'path' column same as the 'image' column
df_tvt_like_temp['path'] = df_tvt['image']

# use the 'image_label_1' column for 'label'
df_tvt_like_temp['label'] = df_tvt['image_label_1']

# create a dummy numerical code for the label column (using categorical codes)
df_tvt_like_temp['classification'] = df_tvt['image_label_1'].astype('category').cat.codes

# assign the 'timestamp' column to 'Photo_Time'
df_tvt_like_temp['Photo_Time'] = df_tvt['timestamp']

# extract location from the 'image' path; e.g., extract "HG/O15/CAM136" from "HG/O15/CAM136/20230630/101_BTCF/IMG_0244.JPG"
def robust_extract_location(path):
    tokens = path.split('/')
    # Find the token that starts with "CAM"
    for i, token in enumerate(tokens):
        if token.startswith('CAM'):
            # Return all tokens from the start up to and including the camera token
            return '/'.join(tokens[:i+1])
    return None

df_tvt_like_temp['Location'] = df_tvt['image'].apply(robust_extract_location)
df_tvt_like_temp.columns

Index(['image', 'image_label_1', 'image_label_2', 'image_label_3',
       'image_antelope_count', 'image_oryx_count', 'image_wildebeest_count',
       'image_eland_count', 'image_hartebeest_count', 'image_kudu_count',
       'image_waterbuck_count', 'image_impala_count', 'image_blesbok_count',
       'image_sable_count', 'image_roan_count', 'image_lechwe_count',
       'image_rodent-like_count', 'image_springhare_count',
       'image_rodent_count', 'image_cape_ground_squirrel_count',
       'image_rock_hyrax_count', 'image_canine_count',
       'image_bat-eared_fox_count', 'image_cape_fox_count',
       'image_black-backed_jackal_count', 'image_small_cat-like_count',
       'image_yellow_mongoose_count', 'image_meerkat_count',
       'image_striped_polecat_count', 'image_wildcat_count',
       'image_genet_count', 'image_honey_badger_count', 'image_caracal_count',
       'image_black_footed_cat_count', 'image_slender_mongoose_count',
       'image_hyena_count', 'image_aardwolf_count', 'image_brown_hyena_count',
       'image_spotted_hyena_count', 'image_other_count',
       'image_aardvark_count', 'image_warthog_count', 'image_zebra_count',
       'image_giraffe_count', 'image_cape_ground_pangolin_count',
       'image_cheetah_count', 'image_leopard_count', 'image_baboon_count',
       'image_reptile_count', 'image_insect_count', 'image_bat_count',
       'image_camel_count', 'image_birds_count', 'image_bird_count',
       'image_ostrich_count', 'image_red-crested_korhaan_count',
       'image_northern_black_korhaan_count', 'image_cape_turtle_dove_count',
       'image_crowned_lapwing_count', 'image_crimson-breasted_shrike_count',
       'image_spotted_thick_knee_count', 'image_kori_bustard_count',
       'image_southern_yellow-billed_hornbill_count', 'image_springbok_count',
       'image_steenbok_count', 'image_duiker_count', 'image_porcupine_count',
       'image_hare_count', 'image_cattle_count', 'image_sheep_count',
       'image_horse_count', 'image_vehicles/humans/livestock_count',
       'image_unknown_count', 'timestamp', 'sighting', 'left', 'right', 'top',
       'bottom', 'score', 'cluster', 'cluster_image_count', 'image_url',
       'camera_animal_count', 'camera_image_count', 'camera', 'site', 'path',
       'label', 'classification', 'Photo_Time', 'Location'],
      dtype='object')

In [58]:
df_tvt_like_temp.iloc[10:20]

,image,image_label_1,image_label_2,image_label_3,image_antelope_count,image_oryx_count,image_wildebeest_count,image_eland_count,image_hartebeest_count,image_kudu_count,...,image_url,camera_animal_count,camera_image_count,camera,site,path,label,classification,Photo_Time,Location
10,HG/O15/CAM136/20230630/101_BTCF/IMG_0228.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0228.JPG,wildebeest,40,2023-07-03 14:44:32,HG/O15/CAM136
11,HG/O15/CAM136/20230630/101_BTCF/IMG_0230.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0230.JPG,wildebeest,40,2023-07-03 14:44:36,HG/O15/CAM136
12,HG/O15/CAM136/20230630/101_BTCF/IMG_0231.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0231.JPG,wildebeest,40,2023-07-03 14:44:46,HG/O15/CAM136
13,HG/O15/CAM136/20230630/101_BTCF/IMG_0232.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0232.JPG,wildebeest,40,2023-07-03 14:44:48,HG/O15/CAM136
14,HG/O15/CAM136/20230630/101_BTCF/IMG_0234.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0234.JPG,wildebeest,40,2023-07-03 14:44:52,HG/O15/CAM136
15,HG/O15/CAM136/20230630/101_BTCF/IMG_0235.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0235.JPG,wildebeest,40,2023-07-03 14:44:54,HG/O15/CAM136
16,HG/O15/CAM136/20230630/101_BTCF/IMG_0236.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0236.JPG,wildebeest,40,2023-07-03 14:45:03,HG/O15/CAM136
17,HG/O15/CAM136/20230630/101_BTCF/IMG_0237.JPG,wildebeest,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0237.JPG,wildebeest,40,2023-07-03 14:45:03,HG/O15/CAM136
18,HG/O15/CAM136/20230630/101_BTCF/IMG_0238.JPG,wildebeest,NaN,NaN,0.0,0.0,2.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0238.JPG,wildebeest,40,2023-07-03 14:45:05,HG/O15/CAM136
19,HG/O15/CAM136/20230630/101_BTCF/IMG_0238.JPG,wildebeest,NaN,NaN,0.0,0.0,2.0,0.0,0.0,0.0,...,https://traptagger.co.uk/imageViewer?type=imag...,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/101_BTCF/IMG_0238.JPG,wildebeest,40,2023-07-03 14:45:05,HG/O15/CAM136

In [59]:
# sort unique values alphabetically (or numerically for classification)
unique_labels = sorted(df_tvt_like_temp['label'].dropna().unique())
unique_classifications = sorted(df_tvt_like_temp['classification'].dropna().unique())
unique_locations = sorted(df_tvt_like_temp['Location'].dropna().unique())

print("Unique labels:", unique_labels)
print("Unique classifications:", unique_classifications)
print("Unique locations:", unique_locations)

Unique labels: ['aardvark', 'aardwolf', 'bat', 'bat-eared fox', 'birds', 'black footed cat', 'blesbok', 'camel', 'cape fox', 'cape ground pangolin', 'cape ground squirrel', 'caracal', 'cattle', 'duiker', 'eland', 'genet', 'hare', 'hartebeest', 'honey badger', 'horse', 'insect', 'kudu', 'lechwe', 'meerkat', 'oryx', 'porcupine', 'reptile', 'roan', 'rodent', 'sheep', 'slender mongoose', 'small cat-like', 'springbok', 'springhare', 'steenbok', 'striped polecat', 'unknown', 'vehicles/humans/livestock', 'warthog', 'wildcat', 'wildebeest', 'yellow mongoose']
Unique classifications: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
Unique locations: ['G15/CAM051', 'HG/O15/CAM136', 'HG/O15/CAM150', 'HG/O16/CAM147', 'HG/O16/CAM149', 'HG/O17/CAM123', 'HG/O17/CAM124', 'HG/O18/CAM122', 'HG/O18/CAM125', 'HG/P15/CAM076', 'HG/P15/CAM143', 'HG/P16/CAM121', 'HG/P16/CAM126', 'HG/P17/CAM146', 'HG/P17/CAM148', 'HG/P18/CAM144', 'HG/P18/CAM145', 'HG/Q15/CAM128', 'HG/Q15/CAM135', 'HG/Q16/CAM119', 'HG/Q16/CAM120', 'HG/Q17/CAM069', 'HG/Q17/CAM077', 'HG/Q18/CAM141', 'HG/Q18/CAM142', 'HG/R15/CAM111', 'HG/R15/CAM116', 'HG/R16/CAM130', 'HG/R16/CAM131', 'HG/R17/CAM074', 'HG/R17/CAM139', 'HG/R18/CAM137', 'HG/R18/CAM138', 'HG/S15/CAM112', 'HG/S15/CAM113', 'HG/S16/CAM132', 'HG/S16/CAM140', 'HG/S17/CAM114', 'HG/S17/CAM115', 'HG/S18/CAM117', 'HG/S18/CAM118', 'I11/CAM063', 'I12/CAM056', 'J11/CAM038', 'K12/CAM066', 'L17/CAM107', 'MG/J17/CAM101', 'MG/J17/CAM102', 'MG/J18/CAM098', 'MG/J18/CAM099', 'MG/K15/CAM089', 'MG/K15/CAM094', 'MG/K16/CAM093', 'MG/K16/CAM095', 'MG/K17/CAM075', 'MG/K17/CAM084', 'MG/K18/CAM103', 'MG/K18/CAM108', 'MG/L14/CAM062', 'MG/L14/CAM064', 'MG/L15/CAM087', 'MG/L15/CAM109', 'MG/L16/CAM090', 'MG/L16/CAM105', 'MG/L16/CAM133', 'MG/L17/CAM106', 'MG/L17/CAM107', 'MG/L18/CAM079', 'MG/L18/CAM085', 'MG/M15/CAM088', 'MG/M15/CAM091', 'MG/M16/CAM073', 'MG/M16/CAM096', 'MG/M17/CAM104', 'MG/M17/CAM110', 'MG/M17/CAM134', 'MG/M18/CAM081', 'MG/M18/CAM086', 'MG/N15/CAM092', 'MG/N15/CAM100', 'MG/N16/CAM080', 'MG/N16/CAM097', 'MG/N17/CAM078', 'MG/N17/CAM083', 'MG/N18/CAM072', 'MG/N18/CAM082', 'N/E16/CAM054', 'N/E16/CAM060', 'N/F12/CAM025', 'N/F12/CAM058', 'N/F13/CAM021', 'N/F13/CAM045', 'N/F14/CAM024', 'N/F14/CAM047', 'N/F15/CAM065', 'N/F15/CAM068', 'N/F16/CAM052', 'N/F16/CAM053', 'N/G11/CAM023', 'N/G11/CAM046', 'N/G12/CAM026', 'N/G12/CAM035', 'N/G13/CAM039', 'N/G13/CAM044', 'N/G14/CAM040', 'N/G14/CAM048', 'N/G15/CAM051', 'N/G15/CAM055', 'N/G16/CAM029', 'N/G16/CAM034', 'N/H11/CAM042', 'N/H11/CAM059', 'N/H12/CAM041', 'N/H12/CAM043', 'N/H13/CAM027', 'N/H13/CAM037', 'N/H14/CAM015', 'N/H14/CAM016', 'N/H15/CAM017', 'N/H15/CAM018', 'N/H16/CAM031', 'N/H16/CAM036', 'N/I11/CAM022', 'N/I11/CAM063', 'N/I12/CAM056', 'N/I12/CAM057', 'N/I13/CAM011', 'N/I13/CAM012', 'N/I14/CAM049', 'N/I14/CAM050', 'N/I15/CAM006', 'N/I15/CAM008', 'N/I16/CAM019', 'N/I16/CAM020', 'N/I17/CAM033', 'N/J11/CAM038', 'N/J11/CAM070', 'N/J12/CAM030', 'N/J12/CAM032', 'N/J13/CAM013', 'N/J13/CAM014', 'N/J14/CAM002', 'N/J14/CAM007', 'N/K11/CAM061', 'N/K11/CAM071', 'N/K12/CAM066', 'N/K12/CAM067', 'N/K14/CAM003', 'N/K14/CAM005']

In [60]:
df_tvt_like_temp[df_tvt_like_temp['Location'] == 'G15/CAM051'].shape

(117, 92)

solve the probelm with 

N/G15/CAM051/20230808/150_BTCF/IMG_0572.JPG

G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_0861.JPG

 'I11/CAM063', 'I12/CAM056', 'J11/CAM038', 'K12/CAM066', all belong to N/
 
 'L17/CAM107' belong to MG/

In [61]:
df_g15_cam051 = df_tvt_like_temp[df_tvt_like_temp['image'].str.contains('G15/CAM051')].copy()
df_g15_cam051['location_id'] = df_g15_cam051['image'].apply(robust_extract_location)
# output it as scv file
df_g15_cam051.to_csv(working_dir + 'G15_CAM051.csv', index=False)
df_g15_cam051.head()

,image,image_label_1,image_label_2,image_label_3,image_antelope_count,image_oryx_count,image_wildebeest_count,image_eland_count,image_hartebeest_count,image_kudu_count,...,camera_animal_count,camera_image_count,camera,site,path,label,classification,Photo_Time,Location,location_id
363487,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0006.JPG,springbok,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,670.0,92353.0,NaN,NaN,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0006.JPG,springbok,32,2023-06-09 01:32:19,G15/CAM051,G15/CAM051
363488,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0007.JPG,springbok,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,670.0,92353.0,NaN,NaN,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0007.JPG,springbok,32,2023-06-09 01:32:20,G15/CAM051,G15/CAM051
363489,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0009.JPG,springbok,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,670.0,92353.0,NaN,NaN,G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_0009.JPG,springbok,32,2023-06-09 01:32:24,G15/CAM051,G15/CAM051
363490,G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_0857.JPG,springbok,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,670.0,92353.0,NaN,NaN,G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_0857.JPG,springbok,32,2023-06-09 17:01:52,G15/CAM051,G15/CAM051
363491,G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_0857.JPG,springbok,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,670.0,92353.0,NaN,NaN,G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_0857.JPG,springbok,32,2023-06-09 17:01:52,G15/CAM051,G15/CAM051

In [62]:
# search in df_g15_cam051 in column image for the string 'G15/CAM051', if like N/G15/CAM051/ don't change it, if only G15/CAM051 add N/ in front of it
def add_N_to_path(path):
    if path.startswith('G15/CAM051'):
        return 'N/' + path
    return path

df_g15_cam051['image'] = df_g15_cam051['image'].apply(add_N_to_path)
print(df_g15_cam051['image'])

363487    N/G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_000...
363488    N/G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_000...
363489    N/G15/CAM051/20230630-50/DCIM/100_BTCF/IMG_000...
363490    N/G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_085...
363491    N/G15/CAM051/20230630-50/DCIM/101_BTCF/IMG_085...
                                ...
645627          N/G15/CAM051/20230828/126_BTCF/IMG_0524.JPG
645628          N/G15/CAM051/20230828/126_BTCF/IMG_0524.JPG
645629          N/G15/CAM051/20230828/126_BTCF/IMG_0537.JPG
645630          N/G15/CAM051/20230828/126_BTCF/IMG_0542.JPG
645631          N/G15/CAM051/20230828/128_BTCF/IMG_0227.JPG
Name: image, Length: 670, dtype: object

In [68]:
# rows in df_tvt_like_temp that in column image don't satrt with either of HG/ , MG/ , N/
df_tvt_like_temp[~df_tvt_like_temp['image'].str.startswith(('HG/', 'MG/', 'N/'))].head()

,image,image_label_1,image_label_2,image_label_3,image_antelope_count,image_oryx_count,image_wildebeest_count,image_eland_count,image_hartebeest_count,image_kudu_count,...,image_url,camera_animal_count,camera_image_count,camera,site,path,label,classification,Photo_Time,Location
240945,L17/CAM107/20230630/100/100_BTCF/IMG_0801.JPG,cattle,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,L17-CAM107,L17,L17/CAM107/20230630/100/100_BTCF/IMG_0801.JPG,cattle,12,2023-06-12 07:27:33,L17/CAM107
240946,L17/CAM107/20230630/100/100_BTCF/IMG_0802.JPG,cattle,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,L17-CAM107,L17,L17/CAM107/20230630/100/100_BTCF/IMG_0802.JPG,cattle,12,2023-06-12 07:27:34,L17/CAM107
240947,L17/CAM107/20230630/100/100_BTCF/IMG_0803.JPG,cattle,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,L17-CAM107,L17,L17/CAM107/20230630/100/100_BTCF/IMG_0803.JPG,cattle,12,2023-06-12 07:27:34,L17/CAM107
240948,L17/CAM107/20230630/100/100_BTCF/IMG_0804.JPG,cattle,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,L17-CAM107,L17,L17/CAM107/20230630/100/100_BTCF/IMG_0804.JPG,cattle,12,2023-06-12 07:27:34,L17/CAM107
240949,L17/CAM107/20230630/100/100_BTCF/IMG_0805.JPG,cattle,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,L17-CAM107,L17,L17/CAM107/20230630/100/100_BTCF/IMG_0805.JPG,cattle,12,2023-06-12 07:27:34,L17/CAM107

In [70]:
df_tvt_like_temp[~df_tvt_like_temp['image'].str.startswith(('HG/', 'MG/', 'N/'))].shape

(14316, 92)

In [78]:
print(sorted(df_tvt_like_temp['image'].str[:7].unique()))

['HG/O15/', 'HG/O16/', 'HG/O17/', 'HG/O18/', 'HG/P15/', 'HG/P16/', 'HG/P17/', 'HG/P18/', 'HG/Q15/', 'HG/Q16/', 'HG/Q17/', 'HG/Q18/', 'HG/R15/', 'HG/R16/', 'HG/R17/', 'HG/R18/', 'HG/S15/', 'HG/S16/', 'HG/S17/', 'HG/S18/', 'I11/CAM', 'I12/CAM', 'J11/CAM', 'K12/CAM', 'L17/CAM', 'MG/J17/', 'MG/J18/', 'MG/K15/', 'MG/K16/', 'MG/K17/', 'MG/K18/', 'MG/L14/', 'MG/L15/', 'MG/L16/', 'MG/L17/', 'MG/L18/', 'MG/M15/', 'MG/M16/', 'MG/M17/', 'MG/M18/', 'MG/N15/', 'MG/N16/', 'MG/N17/', 'MG/N18/', 'N/E16/C', 'N/F12/C', 'N/F13/C', 'N/F14/C', 'N/F15/C', 'N/F16/C', 'N/G11/C', 'N/G12/C', 'N/G13/C', 'N/G14/C', 'N/G15/C', 'N/G16/C', 'N/H11/C', 'N/H12/C', 'N/H13/C', 'N/H14/C', 'N/H15/C', 'N/H16/C', 'N/I11/C', 'N/I12/C', 'N/I13/C', 'N/I14/C', 'N/I15/C', 'N/I16/C', 'N/I17/C', 'N/J11/C', 'N/J12/C', 'N/J13/C', 'N/J14/C', 'N/K11/C', 'N/K12/C', 'N/K14/C']

In [80]:
def add_N_MG_to_path(path):
    if path.startswith(('G15/CAM051', 'I11/CAM063', 'I12/CAM056', 'J11/CAM038', 'K12/CAM066')):
        return 'N/' + path
    elif path.startswith('L17/CAM107'):
        return 'MG/' + path
    return path

In [81]:
df_tvt_like_temp['image'] = df_tvt_like_temp['image'].apply(add_N_MG_to_path)
df_tvt_like_temp['Location'] = df_tvt_like_temp['image'].apply(robust_extract_location)
df_tvt_like_temp.columns

Index(['image', 'image_label_1', 'image_label_2', 'image_label_3',
       'image_antelope_count', 'image_oryx_count', 'image_wildebeest_count',
       'image_eland_count', 'image_hartebeest_count', 'image_kudu_count',
       'image_waterbuck_count', 'image_impala_count', 'image_blesbok_count',
       'image_sable_count', 'image_roan_count', 'image_lechwe_count',
       'image_rodent-like_count', 'image_springhare_count',
       'image_rodent_count', 'image_cape_ground_squirrel_count',
       'image_rock_hyrax_count', 'image_canine_count',
       'image_bat-eared_fox_count', 'image_cape_fox_count',
       'image_black-backed_jackal_count', 'image_small_cat-like_count',
       'image_yellow_mongoose_count', 'image_meerkat_count',
       'image_striped_polecat_count', 'image_wildcat_count',
       'image_genet_count', 'image_honey_badger_count', 'image_caracal_count',
       'image_black_footed_cat_count', 'image_slender_mongoose_count',
       'image_hyena_count', 'image_aardwolf_count', 'image_brown_hyena_count',
       'image_spotted_hyena_count', 'image_other_count',
       'image_aardvark_count', 'image_warthog_count', 'image_zebra_count',
       'image_giraffe_count', 'image_cape_ground_pangolin_count',
       'image_cheetah_count', 'image_leopard_count', 'image_baboon_count',
       'image_reptile_count', 'image_insect_count', 'image_bat_count',
       'image_camel_count', 'image_birds_count', 'image_bird_count',
       'image_ostrich_count', 'image_red-crested_korhaan_count',
       'image_northern_black_korhaan_count', 'image_cape_turtle_dove_count',
       'image_crowned_lapwing_count', 'image_crimson-breasted_shrike_count',
       'image_spotted_thick_knee_count', 'image_kori_bustard_count',
       'image_southern_yellow-billed_hornbill_count', 'image_springbok_count',
       'image_steenbok_count', 'image_duiker_count', 'image_porcupine_count',
       'image_hare_count', 'image_cattle_count', 'image_sheep_count',
       'image_horse_count', 'image_vehicles/humans/livestock_count',
       'image_unknown_count', 'timestamp', 'sighting', 'left', 'right', 'top',
       'bottom', 'score', 'cluster', 'cluster_image_count', 'image_url',
       'camera_animal_count', 'camera_image_count', 'camera', 'site', 'path',
       'label', 'classification', 'Photo_Time', 'Location'],
      dtype='object')

In [82]:

# sort unique values alphabetically (or numerically for classification)
unique_labels = sorted(df_tvt_like_temp['label'].dropna().unique())
unique_classifications = sorted(df_tvt_like_temp['classification'].dropna().unique())
unique_locations = sorted(df_tvt_like_temp['Location'].dropna().unique())

print("Unique labels:", unique_labels)
print("Unique classifications:", unique_classifications)
print("Unique locations:", unique_locations)

Unique labels: ['aardvark', 'aardwolf', 'bat', 'bat-eared fox', 'birds', 'black footed cat', 'blesbok', 'camel', 'cape fox', 'cape ground pangolin', 'cape ground squirrel', 'caracal', 'cattle', 'duiker', 'eland', 'genet', 'hare', 'hartebeest', 'honey badger', 'horse', 'insect', 'kudu', 'lechwe', 'meerkat', 'oryx', 'porcupine', 'reptile', 'roan', 'rodent', 'sheep', 'slender mongoose', 'small cat-like', 'springbok', 'springhare', 'steenbok', 'striped polecat', 'unknown', 'vehicles/humans/livestock', 'warthog', 'wildcat', 'wildebeest', 'yellow mongoose']
Unique classifications: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
Unique locations: ['HG/O15/CAM136', 'HG/O15/CAM150', 'HG/O16/CAM147', 'HG/O16/CAM149', 'HG/O17/CAM123', 'HG/O17/CAM124', 'HG/O18/CAM122', 'HG/O18/CAM125', 'HG/P15/CAM076', 'HG/P15/CAM143', 'HG/P16/CAM121', 'HG/P16/CAM126', 'HG/P17/CAM146', 'HG/P17/CAM148', 'HG/P18/CAM144', 'HG/P18/CAM145', 'HG/Q15/CAM128', 'HG/Q15/CAM135', 'HG/Q16/CAM119', 'HG/Q16/CAM120', 'HG/Q17/CAM069', 'HG/Q17/CAM077', 'HG/Q18/CAM141', 'HG/Q18/CAM142', 'HG/R15/CAM111', 'HG/R15/CAM116', 'HG/R16/CAM130', 'HG/R16/CAM131', 'HG/R17/CAM074', 'HG/R17/CAM139', 'HG/R18/CAM137', 'HG/R18/CAM138', 'HG/S15/CAM112', 'HG/S15/CAM113', 'HG/S16/CAM132', 'HG/S16/CAM140', 'HG/S17/CAM114', 'HG/S17/CAM115', 'HG/S18/CAM117', 'HG/S18/CAM118', 'MG/J17/CAM101', 'MG/J17/CAM102', 'MG/J18/CAM098', 'MG/J18/CAM099', 'MG/K15/CAM089', 'MG/K15/CAM094', 'MG/K16/CAM093', 'MG/K16/CAM095', 'MG/K17/CAM075', 'MG/K17/CAM084', 'MG/K18/CAM103', 'MG/K18/CAM108', 'MG/L14/CAM062', 'MG/L14/CAM064', 'MG/L15/CAM087', 'MG/L15/CAM109', 'MG/L16/CAM090', 'MG/L16/CAM105', 'MG/L16/CAM133', 'MG/L17/CAM106', 'MG/L17/CAM107', 'MG/L18/CAM079', 'MG/L18/CAM085', 'MG/M15/CAM088', 'MG/M15/CAM091', 'MG/M16/CAM073', 'MG/M16/CAM096', 'MG/M17/CAM104', 'MG/M17/CAM110', 'MG/M17/CAM134', 'MG/M18/CAM081', 'MG/M18/CAM086', 'MG/N15/CAM092', 'MG/N15/CAM100', 'MG/N16/CAM080', 'MG/N16/CAM097', 'MG/N17/CAM078', 'MG/N17/CAM083', 'MG/N18/CAM072', 'MG/N18/CAM082', 'N/E16/CAM054', 'N/E16/CAM060', 'N/F12/CAM025', 'N/F12/CAM058', 'N/F13/CAM021', 'N/F13/CAM045', 'N/F14/CAM024', 'N/F14/CAM047', 'N/F15/CAM065', 'N/F15/CAM068', 'N/F16/CAM052', 'N/F16/CAM053', 'N/G11/CAM023', 'N/G11/CAM046', 'N/G12/CAM026', 'N/G12/CAM035', 'N/G13/CAM039', 'N/G13/CAM044', 'N/G14/CAM040', 'N/G14/CAM048', 'N/G15/CAM051', 'N/G15/CAM055', 'N/G16/CAM029', 'N/G16/CAM034', 'N/H11/CAM042', 'N/H11/CAM059', 'N/H12/CAM041', 'N/H12/CAM043', 'N/H13/CAM027', 'N/H13/CAM037', 'N/H14/CAM015', 'N/H14/CAM016', 'N/H15/CAM017', 'N/H15/CAM018', 'N/H16/CAM031', 'N/H16/CAM036', 'N/I11/CAM022', 'N/I11/CAM063', 'N/I12/CAM056', 'N/I12/CAM057', 'N/I13/CAM011', 'N/I13/CAM012', 'N/I14/CAM049', 'N/I14/CAM050', 'N/I15/CAM006', 'N/I15/CAM008', 'N/I16/CAM019', 'N/I16/CAM020', 'N/I17/CAM033', 'N/J11/CAM038', 'N/J11/CAM070', 'N/J12/CAM030', 'N/J12/CAM032', 'N/J13/CAM013', 'N/J13/CAM014', 'N/J14/CAM002', 'N/J14/CAM007', 'N/K11/CAM061', 'N/K11/CAM071', 'N/K12/CAM066', 'N/K12/CAM067', 'N/K14/CAM003', 'N/K14/CAM005']

In [83]:
df_tvt_like_temp[df_tvt_like_temp['Location'] == 'G15/CAM051'].shape

(0, 92)

In [84]:
print(sorted(df_tvt_like_temp['image'].str[:7].unique()))

['HG/O15/', 'HG/O16/', 'HG/O17/', 'HG/O18/', 'HG/P15/', 'HG/P16/', 'HG/P17/', 'HG/P18/', 'HG/Q15/', 'HG/Q16/', 'HG/Q17/', 'HG/Q18/', 'HG/R15/', 'HG/R16/', 'HG/R17/', 'HG/R18/', 'HG/S15/', 'HG/S16/', 'HG/S17/', 'HG/S18/', 'MG/J17/', 'MG/J18/', 'MG/K15/', 'MG/K16/', 'MG/K17/', 'MG/K18/', 'MG/L14/', 'MG/L15/', 'MG/L16/', 'MG/L17/', 'MG/L18/', 'MG/M15/', 'MG/M16/', 'MG/M17/', 'MG/M18/', 'MG/N15/', 'MG/N16/', 'MG/N17/', 'MG/N18/', 'N/E16/C', 'N/F12/C', 'N/F13/C', 'N/F14/C', 'N/F15/C', 'N/F16/C', 'N/G11/C', 'N/G12/C', 'N/G13/C', 'N/G14/C', 'N/G15/C', 'N/G16/C', 'N/H11/C', 'N/H12/C', 'N/H13/C', 'N/H14/C', 'N/H15/C', 'N/H16/C', 'N/I11/C', 'N/I12/C', 'N/I13/C', 'N/I14/C', 'N/I15/C', 'N/I16/C', 'N/I17/C', 'N/J11/C', 'N/J12/C', 'N/J13/C', 'N/J14/C', 'N/K11/C', 'N/K12/C', 'N/K14/C']

In [85]:

# sort unique values alphabetically (or numerically for classification)
unique_labels = sorted(df_tvt_like_temp['label'].dropna().unique())
unique_classifications = sorted(df_tvt_like_temp['classification'].dropna().unique())
unique_locations = sorted(df_tvt_like_temp['Location'].dropna().unique())

print("Unique labels:", unique_labels)
print("Unique classifications:", unique_classifications)
print("Unique locations:", unique_locations)

Unique labels: ['aardvark', 'aardwolf', 'bat', 'bat-eared fox', 'birds', 'black footed cat', 'blesbok', 'camel', 'cape fox', 'cape ground pangolin', 'cape ground squirrel', 'caracal', 'cattle', 'duiker', 'eland', 'genet', 'hare', 'hartebeest', 'honey badger', 'horse', 'insect', 'kudu', 'lechwe', 'meerkat', 'oryx', 'porcupine', 'reptile', 'roan', 'rodent', 'sheep', 'slender mongoose', 'small cat-like', 'springbok', 'springhare', 'steenbok', 'striped polecat', 'unknown', 'vehicles/humans/livestock', 'warthog', 'wildcat', 'wildebeest', 'yellow mongoose']
Unique classifications: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
Unique locations: ['HG/O15/CAM136', 'HG/O15/CAM150', 'HG/O16/CAM147', 'HG/O16/CAM149', 'HG/O17/CAM123', 'HG/O17/CAM124', 'HG/O18/CAM122', 'HG/O18/CAM125', 'HG/P15/CAM076', 'HG/P15/CAM143', 'HG/P16/CAM121', 'HG/P16/CAM126', 'HG/P17/CAM146', 'HG/P17/CAM148', 'HG/P18/CAM144', 'HG/P18/CAM145', 'HG/Q15/CAM128', 'HG/Q15/CAM135', 'HG/Q16/CAM119', 'HG/Q16/CAM120', 'HG/Q17/CAM069', 'HG/Q17/CAM077', 'HG/Q18/CAM141', 'HG/Q18/CAM142', 'HG/R15/CAM111', 'HG/R15/CAM116', 'HG/R16/CAM130', 'HG/R16/CAM131', 'HG/R17/CAM074', 'HG/R17/CAM139', 'HG/R18/CAM137', 'HG/R18/CAM138', 'HG/S15/CAM112', 'HG/S15/CAM113', 'HG/S16/CAM132', 'HG/S16/CAM140', 'HG/S17/CAM114', 'HG/S17/CAM115', 'HG/S18/CAM117', 'HG/S18/CAM118', 'MG/J17/CAM101', 'MG/J17/CAM102', 'MG/J18/CAM098', 'MG/J18/CAM099', 'MG/K15/CAM089', 'MG/K15/CAM094', 'MG/K16/CAM093', 'MG/K16/CAM095', 'MG/K17/CAM075', 'MG/K17/CAM084', 'MG/K18/CAM103', 'MG/K18/CAM108', 'MG/L14/CAM062', 'MG/L14/CAM064', 'MG/L15/CAM087', 'MG/L15/CAM109', 'MG/L16/CAM090', 'MG/L16/CAM105', 'MG/L16/CAM133', 'MG/L17/CAM106', 'MG/L17/CAM107', 'MG/L18/CAM079', 'MG/L18/CAM085', 'MG/M15/CAM088', 'MG/M15/CAM091', 'MG/M16/CAM073', 'MG/M16/CAM096', 'MG/M17/CAM104', 'MG/M17/CAM110', 'MG/M17/CAM134', 'MG/M18/CAM081', 'MG/M18/CAM086', 'MG/N15/CAM092', 'MG/N15/CAM100', 'MG/N16/CAM080', 'MG/N16/CAM097', 'MG/N17/CAM078', 'MG/N17/CAM083', 'MG/N18/CAM072', 'MG/N18/CAM082', 'N/E16/CAM054', 'N/E16/CAM060', 'N/F12/CAM025', 'N/F12/CAM058', 'N/F13/CAM021', 'N/F13/CAM045', 'N/F14/CAM024', 'N/F14/CAM047', 'N/F15/CAM065', 'N/F15/CAM068', 'N/F16/CAM052', 'N/F16/CAM053', 'N/G11/CAM023', 'N/G11/CAM046', 'N/G12/CAM026', 'N/G12/CAM035', 'N/G13/CAM039', 'N/G13/CAM044', 'N/G14/CAM040', 'N/G14/CAM048', 'N/G15/CAM051', 'N/G15/CAM055', 'N/G16/CAM029', 'N/G16/CAM034', 'N/H11/CAM042', 'N/H11/CAM059', 'N/H12/CAM041', 'N/H12/CAM043', 'N/H13/CAM027', 'N/H13/CAM037', 'N/H14/CAM015', 'N/H14/CAM016', 'N/H15/CAM017', 'N/H15/CAM018', 'N/H16/CAM031', 'N/H16/CAM036', 'N/I11/CAM022', 'N/I11/CAM063', 'N/I12/CAM056', 'N/I12/CAM057', 'N/I13/CAM011', 'N/I13/CAM012', 'N/I14/CAM049', 'N/I14/CAM050', 'N/I15/CAM006', 'N/I15/CAM008', 'N/I16/CAM019', 'N/I16/CAM020', 'N/I17/CAM033', 'N/J11/CAM038', 'N/J11/CAM070', 'N/J12/CAM030', 'N/J12/CAM032', 'N/J13/CAM013', 'N/J13/CAM014', 'N/J14/CAM002', 'N/J14/CAM007', 'N/K11/CAM061', 'N/K11/CAM071', 'N/K12/CAM066', 'N/K12/CAM067', 'N/K14/CAM003', 'N/K14/CAM005']

In [86]:
df_tvt_like_temp.shape

(675718, 92)

In [ ]:
# head of the df_tvt_like_temp in last 6 columns
df_tvt_like_temp.iloc[:, -9:].head()

,camera_animal_count,camera_image_count,camera,site,path,label,classification,Photo_Time,Location
0,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/100_BTCF/IMG_0001.JPG,bat-eared fox,3,2023-06-10 19:16:42,HG/O15/CAM136
1,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/100_BTCF/IMG_0002.JPG,bat-eared fox,3,2023-06-10 19:16:43,HG/O15/CAM136
2,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/100_BTCF/IMG_0007.JPG,bat-eared fox,3,2023-06-10 19:16:59,HG/O15/CAM136
3,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/100_BTCF/IMG_0008.JPG,bat-eared fox,3,2023-06-10 19:17:01,HG/O15/CAM136
4,12720.0,5474.0,NaN,NaN,HG/O15/CAM136/20230630/100_BTCF/IMG_0009.JPG,bat-eared fox,3,2023-06-10 19:17:04,HG/O15/CAM136

In [90]:
# save it as csv file name all_tvt_PW_FT_classification with a timstamp in the name
import datetime

timestamp = datetime.datetime.now().strftime("%Y%m%d_%H%M%S")
output_filename = f"all_tvt_PW_FT_classification_{timestamp}.csv"
df_tvt_like_temp.to_csv(os.path.join(working_dir, output_filename), index=False)

print(f"File saved as: {output_filename}")

File saved as: all_tvt_PW_FT_classification_20250210_182840.csv